/* styles.module.css */
.container {
  width: 500px; /* Задайте желаемую ширину */
  height: 500px; /* Задайте желаемую высоту */
  border: 1px solid red;
  margin: 0 auto;
}

/* Новый стиль для внутреннего контейнера карты */
.mapContainer {
  width: 100%;
  height: 100%;
}
